doctype html
include navbar.jade
html
    head
        title= title
        script(src="/javascripts/loginState.js")
        script(src="/javascripts/eventRegister.js")
        link(rel="stylesheet", href="/styles/adminDashboard.css")
    body
        section#team
            .container.my-3.py-5.text-center
                .row.mb-2
                    .col
                        h1 CATALOG
                .row
                    if data
                        each event in data
                            .4.col-lg-4.col-md-6
                                .card
                                    .card-body
                                        img(src='#{event.image}', alt="image 1", class="mb-3")
                                        h3#eName= event.name
                                        h5= event.type
                                        p= event.description
                                        - if(event.eventDate && event.eventTime)
                                            p 
                                              |  Date and Time
                                              br
                                              = event.eventDate.getDate()+"/"+event.eventDate.getMonth()+"/"+event.eventDate.getYear()+" from "+event.eventTime
                                        .d-flex.flex-row.justify-content-center
                                            .p-4
                                                a.btn.btn-primary.text-white(onclick='register(\'' + event._id+ '\')') Register
                    else
                        h1.text-center Catalog will be updated soon