doctype html

include ../navbar.jade
html
  head
    script(src="/javascripts/loginState.js")
    link(rel="stylesheet", href="/styles/userDashboard.css")
  body
      .row
        .left.col-md-4
          .centered(style="font-size: 48px;")
            i.fa.fa-user.fa-lg.mb-3
            .text-white
              h2= data.name
              h3= data.email
              h4= data.role
        .right.col-md-8
          h2 Events Registered
          .row.my-3
            if events 
              each event in events
                .4.col-lg-4
                  .card.text-center
                    .card-body
                      img(src='#{event.image}', alt="image 1", class="mb-3")
                      h3#eName= event.name
                      h5= event.type
                      - if(event.eventDate && event.eventTime)
                          p 
                            |  Date and Time
                            br
                            = event.eventDate.getDate()+"/"+event.eventDate.getMonth()+"/"+event.eventDate.getYear()+" from "+event.eventTime
                      .d-flex.flex-row.justify-content-center
                        .p-4
                          a.btn.btn-primary.text-white(onclick='deregister(\'' + event._id+ '\',\'' + data._id+ '\')') De-Register
